

.splash-text {
    -fx-font: 100px "Nightmare Hero";
    -fx-text-align: center;
    -fx-text-fill: #888;
}

.song-list {
    -fx-background-color: transparent;
}

.song-list-header {
    -fx-font: 50px "Nightmare Hero";
    -fx-text-align: center;
    -fx-text-fill: #333;
}

.list-cell {
    -fx-font: 40px "Nightmare Hero";
    -fx-text-fill: orange;
    -fx-padding: 5 10 5 50;
    -fx-margin: -20 0 -20 0;
}

.list-cell:selected:focused {
    -fx-font: 50px "Nightmare Hero";
    -fx-font-weight: bold;
    -fx-background-color: #ccc;
    -fx-text-fill: yellow;
    -fx-padding: 1 1 1 20;
}


